<div class="nav" ng-controller="navCtrl">
     <div class="nav_logo"></div>
     <div class="nav_list">
      <ul>
      <li ng-repeat="nav in navList">
      <a href="{{nav.src}}">
      {{nav.name}}
      </a>
      </li>
      </ul>
    </div>
  </div>