  <div class="middle_content_tasks clearfix"  ng-controller="taskCtrl">
      <!-- 任务 -->
      <div class="task" ng-repeat="task in $root.taskList">
        <!-- 任务标题 -->
        <div class="task_head">
           <p title="{{task.title}}" class="class_title">{{task.title}}</p>
           <div class="task_title_meta">
             &nbsp;&nbsp;时间：{{task.time}}  &nbsp;
            发布者:{{task.username}} &nbsp;分类:{{task.category}}  &nbsp;
           </div>
           </div>
         <div class="task_img"> 
           <a><img src="{{task.img}}" alt="bannerwx223" height="150" width="150"> </a>  
         </div>
         <div class="task_txt">
            <div class="task_txt_content">
             {{tele}}<br/>{{task.content}}
            </div>
            <div ng-if="taskType == 'home'">
              <button class="task_accept  " ng-click="acceptTask(task.task_id)" class="mytask_button1">接受任务</button>
              </div>
            </div>
            <div ng-if="taskType == 'user'">

              <div ng-if="$root.taskType == 1">
                <button ng-disable="true" class="mytask_button1">{{task.taskInfo}}</button>
              </div>
              <div ng-if="(task.type == 2)">
                <button ng-click="completeTask(task.task_id)" class="mytask_button1">完成</button>
                <button ng-click="cancelTask(task.task_id)" class="mytask_button2">取消</button>
              </div>
            </div>
            </div>
    </div>
    </div>
  </div>
