<div ng-controller="infoCtrl"class="main_info">
   
            <div class="info_title">
               <span >姓名：</span>
                <input ng-model="username" ng-readonly="true" type="text" />
            </div>
            <div class="info_tele">
                <span>电话:&nbsp</span>
                <input ng-model="tel" ng-readonly="true"/>
            </div>
            <div class="info_sex">
                <span>性别：</span>
                <input ng-model="sex" />
            </div>
            <div class="info_age">
                <span>年龄:&nbsp </span>
                <input ng-model="age" />
            </div>
            <div class="info_major">
                <span>专业: &nbsp</span>
                <input ng-model="major" />
            </div>
    <button ng-click="updateUserInfo()">修改信息</button>  
</div>