
<div class="publish" ng-controller='publishCtrl'>
  <div class="publish_title publishtask">
      <span >任务标题：</span> 
      <input ng-model="taskTitle"  class="publish_input" />
  </div>
  <div class="publish_tag publishtask">
      <span >任务标签：</span>
      <select ng-model="category"   ng-options="item.value for item in taskCategory" class="publish_input" >
        <option   value="">选择任务标签</option></select> </div>
  <div class="publish_content publishtask"> <span >任务内容：</span><br/> <!-- <input ng-model="taskTitle"/> -->
     <textarea  ng-model="taskContent" class="publish_textarea"></textarea><br/>
  <button ng-click="publish()" class="publish_submit">发布</button>
  </div>
</div>