<div id="mytask" class="mytask">
	<div ng-controller="taskTypeCtrl" class="mytask_type">
		<button ng-click="getTask(0)"  class="all task">全部任务</button>
		<button ng-click="getTask(1)"  class="published">已发布</button>
		<button ng-click="getTask(2)"  class="accepted">已接受</button>
		<button ng-click="getTask(4)"  class="accomplished">已完成</button>
		<button ng-click="getTask(3)"  class="canceled">已取消</button>
	</div>
   <div ng-include="'views/index.task.html'"></div>
	
</div>
