*{
    margin:0px;
    padding:0px;
    clear: all;
  }
  body,html{
    height: 100%;
}
  .box{
    width: 100%;
    height: 100%;
    background-image: url("../image/background.jpg");
    background-position: 50% 50%;
    -webkit-background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
    overflow-x:hidden;
    overflow-y: scroll;
  }
  /*导航栏开始*/
  
   .nav{
    height: 60px;
    width:95%;
    margin:0 auto;
  }
  /*导航栏左侧*/
  .nav_logo{
    height: 80px;
    width:80px;
    border-radius: 40px;
    margin-top: 5px;
    margin-left: 4%;
    background-image: url("../image/logo.png");
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-color: #FCF783;
    float:left;
  }
/*导航栏右侧*/
    .nav_list{
        height: 50px;
        width:40%;
        float: right;
    }
     .nav_list li{
        margin:5px 0;
        height: 40px;
        width: 20%;
        float: right;
        text-align: center;
        line-height: 50px;
        padding-left: 2%;
        list-style: none;
     }  
     a:link{
      color:black;
      text-decoration: none;
 }
     .nav_list li a:hover,.nav_list li a:visited,.forget a:hover,.forget a:visited{
      color:#337AB7;
      cursor: normal;
      text-decoration: none;
     }
  /*导航栏结束*/

 
