
   *{
    margin:0px;
    padding:0px;
  }
/*body{
  overflow: scroll;
}*/
  .box{
    width: 100%;
    height: 100%;
    background-image: url("../image/background.jpg");
    background-position: 50% 50%;
    -webkit-background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
   /* overflow-x:none;
    overflow-y: scroll;*/
    /*overflow: auto;*/
  }
  /*导航栏开始*/
  
   .nav{
    height: 60px;
    width:95%;
    margin:0 auto;
  }
  /*导航栏左侧*/
  .nav_logo{
    height: 80px;
    width:80px;
    border-radius: 40px;
    margin-top: 5px;
    margin-left: 4%;
    background-image: url("../image/logo.png");
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-color: #ffd000;
    float:left;
  }
/*导航栏右侧*/
    .nav_list{
        height: 50px;
        width:40%;
        float: right;
    }
     .nav_list li{
        margin:5px 0;
        height: 40px;
        width: 20%;
        float: right;
        text-align: center;
        line-height: 50px;
        padding-left: 2%;
        list-style: none;
     }
    /* .nav_list li a:hover,a:visited,.forget a:hover,.forget a:visited{
      color: red;
      cursor: normal;
     }*/
  /*导航栏结束*/
  /*任务大厅*/
  .middle{
    width:968.2px;
    min-height: 500px;
    background-color: fff;
    margin:5px auto;
    /*border-top: 1px solid #F7F7F7;*/
    border-radius: 3px;
    box-shadow:2px 2px 3px #aaaaaa;  
    /* overflow-x:none;
    overflow-y: auto; 无用？*/
  }
  .middle_head{
    width: 98%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    margin:10px auto;
  }
  .middle_lunbo{
    width:98%;
    height:360px;
    margin:3px auto;
    border-radius: 10px;
    border-color: #5E5D5C;
  }
  .carousel-inner  img{
   width:100%;
   line-height: 200px;
 }
 .middle_content{
  width:100%;
  min-height: 100px;
  margin: 0 auto;   
  /*overflow:auto;*/
}
.middle_content_tasks{
  width: 750px;
  /*height: 1000px; 坑！！！*/
  float: left;
  top: 3px;
  left: 3px;

}
.task{
  width: 750px;
  height: 250px;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding: 10px 0 0 20px;
}  
.type_list li{
    margin:5px 2px;
    height: 50px;
    /*width: 12%;*/
    float: left;
    padding-left: 10px;
    padding-right: 30px;
    list-style: none;
    font-size: 18px; 
    font-weight: 500;
    color:  black;
}
.type_list li a:hover,.type_list li a:visited{
    text-decoration: none;
    color: #23527C;
    font-weight: 700;

}

.task_head{
  text-decoration: none;
  font: 24px/24px arial,sans-serif;
  text-align: left;
  width: 700px;
  height: 50px;
}
.task_head a:link,.task_head a:visited{
  color: black;
}
.task_head a:hover,.task_head a:active{
  color: #337AB7;
  text-decoration: none;
}
.task_title_meta{
  text-decoration: none;
  font: 12px/20px arial,sans-serif;
  color:#787878; 
  letter-spacing:1px;
  text-decoration: none;
}
.task_title_meta a:link,.task_title_meta a:visited{
  color:#787878; 
}
.task_title_meta a:hover,.task_title_meta a:active{
  color: #337AB7;
  text-decoration: none;
}
.task_img{
  width: 180px;
  height: 170px;
  float: left;
  margin: 5px 3px 0px 10px;
}
.task_txt{
  width: 500px;
  height: 170px;
  padding-top: 20px;
  padding-right: 15px;
  float: right;
  font: 15px/22px arial,sans-serif;
  /*overflow: auto;*/
  margin-right: 20px;
}
.task_accept{
  width:65px;
  height: 40px;
  border-radius:8px;
  border: none;
  padding: 3px 5px;
  float: right;
  margin-top:70px;
  margin-right:20px;
  background: #F4D098;
  font-size: 13px;
 font-weight: 400;
 line-height: 30px;
 text-align: center;
 vertical-align: middle;
}

.examples{
  width:190px;
  float: right;
  padding-top: 30px;
  /*top:20px;  wuxiao???*/
  margin-top: 20px;
  /*margin-right: 10px;*/
  height: 700px;
  background:url("../image/examples.png") no-repeat; 
}
.clear{clear:both; height: 0; line-height: 0; font-size: 0}
.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }

.notice_message{
        height:230px;
        width: 350px;
        margin: 10% 39%;
        padding-right: 30px; 
        padding-left: 20px;
        padding-top: 150px;
        background-color: grey;   
        border-radius: 10px;
        border-top: 1px solid white;
        position: fixed;
        z-index: 50;
        color: #FCF783;
        opacity: 0.9;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-weight: 700;
       background:url(../image/mifeng.png) no-repeat grey;
}
