*{
     	margin:0px;
     	padding:0px;
     }
/*最外层容器*/
/*    .box{
        width: 100%;
        height: 100%;
        background: url("../image/background.jpg") no-repeat 50% 50%;
        background-size:cover;
        overflow: hidden;         }
*/

/*登陆开始*/
 /*登录容器*/
    .login{
        height:350px;
        width: 500px;
        margin:5% auto;
        background-color: white;
        opacity: 0.6;
        border-radius: 10px;
        position: relative;
        border-top: 1px solid white;
        position: relative;
    }
   /*登录头像*/
    .login_logo{
        width:70px;
        height:70px;
        margin: 10px auto;
        border-radius: 35px;
        /*background-color: #FEC3B6;*/
        background: url("../image/logo.png") no-repeat 50% 50% #FEC3B6;

    }
    /*表单容器*/
    .login_form{
    	height:160px;
    	width:300px;
    	margin: 15px auto 0 auto;
    	text-align: center;
    }
    /*账户，密码*/
    .username, .password{
    	height:40px;
    	width:300px;
    	margin: 10px auto 15px auto;
        padding: 0px 10px;
    	border: 2px solid #9F9E9E;
    	border-radius: 10px;
        font:600 16px arial ;/*坑~~~~*/
        font-weight: bold;
    }
    /*提示信息，忘记密码*/
    .notice ,.forget{
    	height: 20px;
    	width: 300px; 
    	margin:5px auto;   
        font:15px "微软雅黑"; 
    }
    .goto{
    	height: 40px;
    	width:40px;
        margin: 3px auto;
        border: none;
    	border-radius: 20px;
    
     }
  
   
    .forget{
    	position: absolute;
        bottom: 10px;.
        
    }
 /*登陆结束*/
 a:hover,a:visited{
      color:#ffd000;
      text-decoration: none;
 }
 a:link{
      
      text-decoration: underline;
 }
 .loading{
  
        height:120px;
        width: 350px;
        margin: 50px 60px;
        padding-right: 30px; 
        padding-left: 20px;
        padding-top: 150px;
        background-color: grey;/*色调统一*/     
        border-radius: 10px;
        border-top: 1px solid white;
        position: fixed;
        z-index: 20;
        color: #FCF783;
        /*opacity: 0.9;*/
        display: none;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-weight: 700;
       background:url(../image/mifeng.png) no-repeat grey;
    }