
.user_info{
    width: 1000px;
    min-height: 500px;
    margin: auto;
    margin-top: 28px;
    padding-top: 10px;
    background-color: white;
    opacity: 0.8; 
    border-radius: 5px;
    font-size: 16px;
    font-family: '微软雅黑';

}
.user_info_type{
    float:left;
    height: 300px;
    width: 160px;
    padding-top: 15px;
    background-color: #FCF783;
    list-style-type:none;
    outline-style: none;
    list-style: none;
    font-size: 15px;
    font-family: '微软雅黑';
    border-radius: 5px;

}
.user_info_type a:hover,.user_info_type a{
    color:black;
    text-decoration: none;
    line-height: 64px;
    width: 160px;
    text-align: center;

}
.user_info_type a:visited li,.user_info_type a:hover li{
    padding-left: 12px;
      background-color: white;
}
.user_info_type a li{
    height: 64px;
}
/*#mytask,#publish,#info{
    float: right;
    width: 800px;
}*/

/*publish start*/
.publishtask{
    height: 50px;
    /*text-align: center;*/
    /*padding-left:20px; */
}
.publish{
    height: 50px;
    float: left;
    margin-left: 70px;
    margin-top: 38px;
    font:16px Tahoma,Helvetica,Arial,'宋体',sans-serif;

}
.publish_input{
    height:25px;
    width: 120px;
  
    border:2px solid grey;
    border-radius: 5px;
    padding:1px 2px;
    line-height: 18px;
    /*box-shadow: 0 0 0 2px;*/


}
.publish_textarea{
    height:150px;
    width: 230px;
    border:2px solid grey;
    border-radius: 5px;
    /*text-align: center;*/
    margin: -5px 85px;
    padding:8px;
}
.publish_submit{

    width:50px;
    height:30px;
    margin: 30px 160px;
    border-radius: 5px;
    border:1px solid white;
    text-align: center;
    line-height: 28px;
    background-color: #F4CB74;
    

}
/*publish over*/

/*mytask start*/
.mytask{
    min-height: 50px;
    float: left;
    margin-left: 70px;
    margin-top: 38px;
    font:16px Tahoma,Helvetica,Arial,'宋体',sans-serif;

}
.mytask_type button{
    width:70px;
    height:35px;
    margin: 0 10px;
    border-radius: 5px;
    border:1px solid white;
    text-align: center;
    line-height: 35px;
    background-color: #F4CB74;

}

.main_info{
    height: 50px;
    float: left;
    margin-left: 70px;
    margin-top: 38px;
    font:16px Tahoma,Helvetica,Arial,'宋体',sans-serif;
}

.main_info div{
    height:50px;
    width: 300px;
    
/*    border:1px solid grey;
*/    border-radius: 5px;
    text-align: right;
    line-height: 40px; 
    margin: 8px 0;
}
.main_info input{
    width: 180px;
    padding:3px 5px;
    line-height: 25px;
    border-radius: 5px;
    border-width: 0px;
    border:2px solid grey;
    
}
.main_info button{
    
    width:60px;
    height:30px;
    margin: 30px 160px;
    border-radius: 3px;
    border:1px solid white;
    text-align: center;
    line-height: 30px;
    background-color: #F4CB74;
    
}
/*mytask over*/

/*mytask_tasktype start*/
/*.middle_content_tasks{
    min-height:500px;
    margin-top:20px;
}
.task{
    margin-top: 15px;
    border-top: 1px solid grey; 
}*/
.task{
  width: 700px;
  height: 230px;
  border-bottom: 3px solid grey;
  border-radius: 5px;
  margin-top:20px;
  margin-left: 15px;
} 
.task_head{
  text-decoration: none;
  font: 24px/24px arial,sans-serif;
  text-align: left;
  width: 700px;
  height: 50px;
}
.task_head a:link,.task_head a:visited{
  color: black;
}
.task_head a:hover,.task_head a:active{
  color: #337AB7;
  text-decoration: none;
}
.task_title_meta{
  text-decoration: none;
  font: 12px/20px arial,sans-serif;
  color:#787878; 
  letter-spacing:1px;
  text-decoration: none;
}
.task_title_meta a:link,.task_title_meta a:visited{
  color:#787878; 
}
.task_title_meta a:hover,.task_title_meta a:active{
  color: #337AB7;
  text-decoration: none;
}
.task_img{
  width: 180px;
  height: 170px;
  float: left;
  margin: 5px 3px 0px 10px;
}
.task_txt{
  width: 400px;
  height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  float: right;
  font: 15px/22px arial,sans-serif;
  /*overflow: auto;*/
  margin-right: 20px;
}
.task button{
  width:65px;
  height: 40px;
  border-radius:8px;
  border: none;
  padding: 3px 5px;
  float: right;
 /* margin-top:-60px;???负?
  margin-right:20px;*/
  background: #F4D098;
  font-size: 13px;
 line-height: 30px;
 text-align: center;
 vertical-align: middle;

}
.mytask_button1{
  margin-top:-45px;
  margin-right:20px;
}
.mytask_button2{
  margin-top:-45px;
  margin-right:100px;
}
/*mytask_tasktype over*/
/*notice_message start*/
.notice_message{

        height:120px;
        width: 350px;
        margin: 150px 600px;
        padding-right: 50px; 

        padding-top: 150px;
        background-color: grey;/*色调统一*/     
        border-radius: 10px;
        border-top: 1px solid white;
        position: fixed;
        z-index: 20;
        opacity: 0.9;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
       background:url(../image/mifeng.png) no-repeat grey;
}
.notice_message button{
    width:45px;
    height: 35px;
   border-radius:5px;
   border:1px solid white;
   margin: 25px 48%;
  background: #F4D098;
  font-size: 15px;
  font-weight: 700px;
 line-height: 30px;
 text-align: center;
 vertical-align: middle;
 // position: fixed;
 top:370px;
 left:50%;
}

/*notice_message over*/
.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }
