 *{
     	margin:0px;
     	padding:0px;
     }

    .box{
        width: 100%;
        height: 100%;
    	background-image: url("../image/background.jpg");
    	background-position: 50% 50%;
    	-webkit-background-position:50% 50%;
        background-size:cover;
        background-repeat:no-repeat;
        overflow: hidden;        
        }
/*loading*/
.loading{
       height:120px;
        width: 350px;
        margin: 70px 150px;
        padding-right: 30px; 
        padding-left: 20px;
        padding-top: 150px;
        background-color: grey;/*色调统一*/     
        border-radius: 10px;
        border-top: 1px solid white;
        position: fixed;
        z-index: 20;
        color: #FCF783;
        /*opacity: 0.9;*/
        display: none;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-weight: 700;
       background:url(../image/mifeng.png) no-repeat grey;
    }
/*注册开始*/
    .regiter{
        height:450px;
        width: 700px;
        margin: 90px auto;
        background-color: white;
        opacity: 0.7;
        border-radius: 10px;
        border-top: 1px solid white;
        z-index: 1;
        position: relative;

    }
/*注册头部*/
    .regiter_head{
    	width: 400px;
    	height:50px;
    	margin:0 auto;
    	margin-top: 30px;
    	padding-bottom: 10px;
    	border-bottom: 1px solid grey;
    	text-align: center;
    	font-size: 30px;
    
    }
    .error_notice{
        width: 300px;
        height:20px;
        margin:0 auto; 
        margin-top: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 15px;
        color: red;

    }
/*注册信息*/
    .info{
        width: 500px;
      	height:250px;
        margin:5px auto; 
        padding-left: 17%;
    }
    .regiter_info{
        width:80px;
        height:240px;
        float: left;
        margin: 0px 8px;
        font-size:12px;
        font-family: "微软雅黑";
    }
    .regiter_form,.regiter_notice{
    	height:240px;
    	width: 210px;
    	float: left;
    	font-size:12px; //font设置不合理
    	font-family: "微软雅黑";	
    }
    .regiter_form{
        margin: 0 0 0 35px;
    }
    .regiter_info {
        width:80px;
    	text-align: center;
    	line-height: 40px;
    	font-size: 20px;	
    }
    .regiter_notice{
        width:80px;
        line-height: 40px;
        font-size: 13px;
    }
/*手机号,密码*/
    .tele, .password1,.username{
    	height:40px;
    	width:200px;
    	float: left;
        margin: 12px 10px;
    }
    .regiter_info .tele, .regiter_info .password1,.regiter_info .username{
    	width:80px;
    	text-align: right;	
    }
/*表单的手机号,密码 */
    .regiter_form .tele, .regiter_form .password1,.regiter_form .username{
    	
    	padding-left: 10px;
    	padding-right: 10px;
    	border: 3px solid #F6CC76;
    	border-radius: 10px;
    }
    
     .regiter_notice .tele, .regiter_notice .password1,.regiter_notice .username{
    	width:100px;
    	text-align: left;
    	line-height: 40px;
    	font-size:14px;
        color: red;
    }
    .tijiao{
        width: 70px;
        height: 40px;
        
        border:none;
        border-radius:8px;

        padding: 3px 5px;
        margin:10px 45%;

/*  background: #F4D098;
*/     font-size: 15px;
       font-weight: 700;

 /*display: inline-block;*/
}

