<!DOCTYPE htmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆界面</title>
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body ng-app="login">
<div class="box">
<div ng-include="'views/index.nav.html'"></div>
    <div class="login" ng-controller="loginCtrl">
    <div class="loading" > loading...</div>
        <div class="login_logo"></div>
        <div class="login_form">
            <input class="username" ng-model="username" placeholder="用户名/手机号" id="username"  ng-blur="nameVali()"> </input>
            <div ng-model="notice_username" > {{notice_username}} </div>
            <input class="password" ng-model="password" placeholder="密码" type="password" ng-blur="passwordVali()"> </input> 
        <div class="notice" id="errormsg" ng-model="notice_password">{{notice_password}}</div>	
        <div class="forget"><a herf="#">忘记密码?</a></div>
        <button ng-click="submit()" class="goto">Go</button>
        </div>
        
    </div>
    <div class="foot"> </div>
</div>
<script type="text/javascript">
    
     // function test() {
     // 	var username = document.getElementById('username');
     // 	if (username.value.length !== 11) {
     // 		document.getElementById('errormsg').innerHTML = "手机号不足11位";
     // 	} else {
     // 			document.getElementById('errormsg').innerHTML = '登陆成功';	
     // 	}
     // }

</script>
<script src="js/jquery.min.js"></script>
<script src="js/angular/angular.js"></script>
<script src="js/angular/angular-cookies.min.js"></script>
<script src="js/angular/angular-route.js"></script>
<script src="js/navController.js"></script>
<script src="js/loginController.js"></script>
 </body>
</html>
