<!DOCTYPE html PUBLIC"-//W3C//DTDXHTML1.0Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <!--<script type="text/javascript" src="js/main.js"></script>-->
	<title>一键发布</title>
</head>

<body ng-app='userApp'>
<div class="box" ng-controller='centerCtrl'>
  <div ng-include="'views/index.nav.html'"></div>
  <div class="notice_message" ng-if="show_notice">
  <p>{{notice_message}}</p><button ng-click="confirmMessage()">确认</button></div>
  <div class="user_info">
        <ul  class="user_info_type">
            <a href="#" id="sel1"  
            ng-click="changeContent(2)"><li>一键发布</li></a>
            <a href="index.html"><li>任务广场</li></a>
            <a href="#" id="sel2"
            ng-click="changeContent(3)"><li>我的任务</li></a>
            <a href="#" id="sel3" ng-click="changeContent(4)"><li>个人信息</li></a>
        </ul>
        <div ng-include="content" ></div>
        <!-- 一键发布 -->

        <div style="clear:both"></div>
    </div>
    <footer class="foot"> </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/angular/angular.js"></script>
<script src="js/angular/angular-cookies.min.js"></script>
<script src="js/angular/angular-route.js"></script>
<script src="js/taskController.js"></script>
<script src="js/navController.js"></script>
<script src="js/userController.js"></script>
</body>
</html>