<!DOCTYPE htmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册界面</title>
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body ng-app="register">
<div class="box">
 <div ng-include="'views/index.nav.html'"></div>
    <div class="regiter" ng-controller="registerCtrl">
    <div class="loading" id="loading">loading...</div>
       <div class="regiter_head"><h3>注册账号</h3></div> 
        <div class="error_notice" ng-model="error_notice"> {{error_notice}}</div>              
       <div class="info">
        <div class="regiter_info"> 
         <div class="username" >用户名</div>
         <div class="tele">手机号 </div>
         <div class="password1">密  码</div>
         <div class="password1 password2">密码确认</div>
       </div>
       <div class="regiter_form">
         <input  class="username"  ng-model="username" placeholder="用户名" ng-blur="nameVali()"  />

         <input  class="tele" type="text"  ng-model="tele" placeholder="手机号" ng-blur="teleVali()" />
         <input  class="password1"  type="password" ng-model="password1" placeholder="密码为4-12位字符"        ng-blur="passwordVali1()"/>
         <input  class="password1 password2" type="password" ng-model="password2" placeholder="密码确认"
         ng-blur="passwordVali2()"/>

          
        </div>
       <div class="regiter_notice">
         <div class="username" ng-model="noticeuser">{{noticeuser}}</div>
         <div class="tele" ng-model="noticetele">{{noticetele}}</div>
         <div class="password1" ng-model="notice1">{{notice1}}</div>
         <div class="password1 password2" ng-model="notice2">{{notice2}}</div>       
        </div>
       </div>
    <input  type="button" ng-click="submit()" class="tijiao" name="tijiao" value="提交" />   
</div>
<div class="foot"> </div>
<script src="js/jquery.min.js"></script>
<script src="js/angular/angular.js"></script>
<script src="js/angular/angular-cookies.min.js"></script>
<script src="js/angular/angular-route.js"></script>
<script src="js/navController.js"></script>
<script src="js/registerController.js"></script>
 </body>
</html>